.cover__subtitle {
    max-width: 288px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 1.22;
    }
}