.photo-grid__item {
    width: 288px;
    display: block;
    margin-bottom: 12px;
}

.photo-grid__item:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .photo-grid__item {
        width: 352px;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .photo-grid__item {
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .photo-grid__item {
        width: 284px;
    }
}