.lead__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin: auto;
    padding: 0 16px 40px;
}

@media (min-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        font-size: 30px;
        line-height: 1.2;
        padding: 0 64px 56px;  
    }
}

@media (min-width: 1280px) {
    .lead__subtitle {
        padding-bottom: 64px;
    }
}