.cover__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
    margin: 0 auto 16px;
    position: relative;
    z-index: 1;
}

.cover__title:nth-of-type(1) {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
        margin: 0 auto 32px;
    }
}