@media (min-width: 768px) {
    .place {
        padding: 0 24px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 28px;
        row-gap: 48px;
        grid-template-areas:
        "title source"
        "image paragraphs"

    }
}

@media (min-width: 1024px) {
    .place {
        padding: 0 48px;
        column-gap: 32px;
    }
}

@media (min-width: 1280px) {
    .place {
        padding: 0 148px;
        column-gap: 40px;
    }
}

