.footer {
    max-width: 1280px;
    margin: auto;
    padding: 32px 118px 24px 16px; 
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .footer {
        padding: 44px 24px 24px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 46px 48px 24px;
    }
}    
