.place__url {
    display: none;
}

@media (min-width: 768px) {
    .place__url {
        display: block;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.2em;
        color: #AAAAAA;
        margin: 0;
        margin-bottom: 12px;
    }
}